<h1>@angular/cdk/coercion</h1>
<ul>
  <li><a href="#array-coercion">Array Coercion</a></li>
  <li><a href="#boolean-coercion">Boolean Coercion</a></li>
</ul>
<section class="wrapper" id="array-coercion">
  <h2>Array Coercion</h2>
  <section>
    <h3>Array&lt;string&gt;</h3>
    <array-coercion
      [strings]="['array item 1', 'array item 2']"
    ></array-coercion>
  </section>
  <section>
    <h3>string</h3>
    <array-coercion strings="single item"></array-coercion>
  </section>
  <section>
    <h3>Array&lt;Person&gt;</h3>
    <array-coercion [persons]="[person1, person2]"></array-coercion>
  </section>
  <section>
    <h3>Person</h3>
    <array-coercion [persons]="person3"></array-coercion>
  </section>
</section>
<section class="wrapper" id="boolean-coercion">
  <h2>Boolean Coercion</h2>
  <section>
    <h3>boolean - true</h3>
    <boolean-coercion [someFlag]="booleanTrue"></boolean-coercion>
  </section>
  <section>
    <h3>boolean - false</h3>
    <boolean-coercion [someFlag]="booleanFalse"></boolean-coercion>
  </section>
  <section>
    <h3>string - true</h3>
    <boolean-coercion someFlag="true"></boolean-coercion>
  </section>
  <section>
    <h3>string - false</h3>
    <boolean-coercion someFlag="false"></boolean-coercion>
  </section>
  <section>
    <h3>string - random</h3>
    <boolean-coercion someFlag="random"></boolean-coercion>
  </section>
  <section>
    <h3>number</h3>
    <boolean-coercion someFlag="100"></boolean-coercion>
  </section>
  <section>
    <h3>null</h3>
    <boolean-coercion [someFlag]="nullValue"></boolean-coercion>
  </section>
  <section>
    <h3>undefined</h3>
    <boolean-coercion [someFlag]="undefinedValue"></boolean-coercion>
  </section>
</section>
