<h1 #h1>@angular/cdk/coercion</h1>
<ul>
  <li><a href="#array-coercion">Array Coercion</a></li>
  <li><a href="#boolean-coercion">Boolean Coercion</a></li>
  <li><a href="#css-pixel-coercion">CSS Pixel Coercion</a></li>
  <li><a href="#element-coercion">Element Coercion</a></li>
  <li><a href="#number-coercion">Number Coercion</a></li>
</ul>
<section class="wrapper" id="array-coercion">
  <h2>Array Coercion</h2>
  <section>
    <h3>Array&lt;string&gt;</h3>
    <array-coercion
      [strings]="['array item 1', 'array item 2']"
    ></array-coercion>
  </section>
  <section>
    <h3>string</h3>
    <array-coercion strings="single item"></array-coercion>
  </section>
  <section>
    <h3>Array&lt;Person&gt;</h3>
    <array-coercion [persons]="[person1, person2]"></array-coercion>
  </section>
  <section>
    <h3>Person</h3>
    <array-coercion [persons]="person3"></array-coercion>
  </section>
</section>
<section class="wrapper" id="boolean-coercion">
  <h2>Boolean Coercion</h2>
  <section>
    <h3>boolean - true</h3>
    <boolean-coercion [someFlag]="booleanTrue"></boolean-coercion>
  </section>
  <section>
    <h3>boolean - false</h3>
    <boolean-coercion [someFlag]="booleanFalse"></boolean-coercion>
  </section>
  <section>
    <h3>string - true</h3>
    <boolean-coercion someFlag="true"></boolean-coercion>
  </section>
  <section>
    <h3>string - false</h3>
    <boolean-coercion someFlag="false"></boolean-coercion>
  </section>
  <section>
    <h3>string - random</h3>
    <boolean-coercion someFlag="random"></boolean-coercion>
  </section>
  <section>
    <h3>number</h3>
    <boolean-coercion someFlag="100"></boolean-coercion>
  </section>
  <section>
    <h3>null</h3>
    <boolean-coercion [someFlag]="nullValue"></boolean-coercion>
  </section>
  <section>
    <h3>undefined</h3>
    <boolean-coercion [someFlag]="undefinedValue"></boolean-coercion>
  </section>
</section>
<section class="wrapper" id="css-pixel-coercion">
  <h2>CSS Pixel Coercion</h2>
  <section>
    <h3>10px</h3>
    <css-pixel-coercion [cssPixel]="'10px'"></css-pixel-coercion>
  </section>
  <section>
    <h3>10</h3>
    <css-pixel-coercion [cssPixel]="10"></css-pixel-coercion>
  </section>
  <section>
    <h3>1em</h3>
    <css-pixel-coercion [cssPixel]="'1em'"></css-pixel-coercion>
  </section>
  <section>
    <h3>null</h3>
    <css-pixel-coercion [cssPixel]="nullValue"></css-pixel-coercion>
  </section>
</section>
<section class="wrapper" id="element-coercion">
  <h2>Element Coercion</h2>
  <section>
    <h3>HTMLElement</h3>
    <element-coercion [element]="htmlElement"></element-coercion>
  </section>
  <section>
    <h3>ElementRef</h3>
    <element-coercion [element]="elementRef"></element-coercion>
  </section>
</section>
<section class="wrapper" id="number-coercion">
  <h2>Number Coercion</h2>
  <section>
    <h3>number</h3>
    <number-coercion [count]="10"></number-coercion>
  </section>
  <section>
    <h3>strings</h3>
    <number-coercion count="10"></number-coercion>
  </section>
  <section>
    <h3>null</h3>
    <number-coercion [count]="nullValue"></number-coercion>
  </section>
  <section>
    <h3>undefined</h3>
    <number-coercion [count]="undefinedValue"></number-coercion>
  </section>
</section>